<div class="container mt-1" >
    <div class="row" style="text-align: justify;">
      <div class="col" >
        <div *ngFor="let vet of listaPreno">
            <span style="font-weight: bold;">From: </span>{{vet.from}}<br>
            <span style="font-weight: bold;">TO: </span>{{vet.to}} <br>
            <span style="font-weight: bold;">Name: </span>{{vet.name}} <br>
            <span style="font-weight: bold;">Surname: </span>{{vet.surname}} <br><br>
            <button (click)="mostraDati(vet.room)" class="button">Mostra dettagli stanza</button>&nbsp;
            
            <hr>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
</div>
